/* https://www.figma.com/file/BEGWP9SXPNeoibf99YzHwn/Full-E-Commerce-Website-UI-UX-Design-(Community)?type=design&mode=design&t=5UVmm5OjiHLeTMGj-0 */

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
  background-color: red;
  outline: 2px antiquewhite;
}

.swiper-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet-active,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet-active {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
  background-color: red;
  outline: 2px antiquewhite;
}
.swiper-pagination-bullet {
  background-color: white;
  color: white;
}
#root {
  overflow-x: hidden;
}
.active {
  border-bottom: 2px solid aqua;
  transition: all 1s linear;
}
